/* TruckAnimation.css */

.map-container {
  position: relative;
  width: 500px;
  height: 500px;
  background-color: #f0f0f0;
  border: 2px solid #000;
  margin: 0 auto;
  overflow: hidden;
}

.truck {
  position: absolute;
  width: 60px; 
  height: auto; 
  top: 10px; 
  left: 30px; 
  animation: moveTruck 9s linear infinite;
}


.start, .stop, .end {
  width: 40px; 
  height: auto; 
}


.label {
  text-align: center;
  font-size: 14px;
  margin-top: 5px;
  color: black;
}


.node {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.start-node {
  top: 5px;
  left: 25px;
}

.stop-1-node {
  top: 5px;
  left: 365px;
}

.stop-2-node {
  top: 95px;
  left: 215px;
}

.stop-3-node {
  top: 195px;
  left: 365px;
}

.end-node {
  top: 295px;
  left: 25px;
}


@keyframes moveTruck {
  0% {
    top: 10px;
    left: 30px;
    transform: rotate(0deg);
  }
  25% {
    top: 10px;
    left: 370px;
    transform: rotate(30deg); 
  }
  50% {
    top: 100px;
    left: 220px;
    transform: rotate(35deg); 
  }
  75% {
    top: 200px;
    left: 370px;
    transform: rotate(-30deg); 
  }
  100% {
    top: 300px;
    left: 30px;
    transform: rotate(30deg); 
  }
}
